/* Generally used the following order within styling throughout
width
height
display
flex
direction
wrap
justify-content
align-content
align-items
column-gap
position
text-align
font-family
font-size
font-weight
padding
border
margin
color
background-color
opacity
cursor
anything else */

/* for flex boxes and alignment throughout I used the following references
I'm not citing specific examples because I combined learnings from many of them 
and built upon that learning as I progressed through the assignment. 
I didn't necessarily used specific code chunks for a specific section */
/* https://www.w3schools.com/css/css3_flexbox.asp
https://css-tricks.com/guides/
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox#nested_flex_boxes
https://stackoverflow.com/questions/69852513/100-total-width-for-flex-items-in-flex-container-with-gap-inbetween
https://stackoverflow.com/questions/38896055/how-to-center-align-a-flexbox-container  */

* {
  box-sizing: border-box;
  font-family: "Itim", sans-serif;
}

body {
  background-color: #018E8E;
}

.HomePage {
  width: 100%;
  height: 100%;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  margin: 0;
  padding: 0;
  background-image: url("../../public/assets/MojiMatchHome_AdjustedAgain4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #018E8E;
  background-position: center top;
}

.match_message {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: center;
  font-size: 5vw;
  padding: 2.5% 0% 0% 0%;
  border: none;
  color: #00575D;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/Match_Message.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: .9;
  z-index: 3;
}

.win_message {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 8%;
  right: 10%;
  font-size: 5vw;
  padding: 2.5% 0% 0% 0%;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.winning_squid {
  width: 80%;
  position: relative;
  top: 0%;
  right: -10%;
  transform: rotate(-90deg);
}

.card_holder {
  width: 60%;
  height: 57.6vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 3%;
  row-gap: 3%;
  position: relative;
  left: 40%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0% 0% 0% 0%;
  padding: 3.5% 7% 7% 7%;
  background-image: url("../../public/assets/Union.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

/* References for pill buttons */
/* https://www.w3schools.com/howto/howto_css_pill_button.asp */
/* https://www.w3schools.com/csS/css3_shadows_box.asp */
/* https://stackoverflow.com/questions/5458716/is-it-possible-to-set-transparency-in-css3-box-shadow */
.help_button {
  width: 15%;
  height: 5%;
  position: absolute;
  top: 92%;
  right: 70%;
  font-size: 2vw;
  border: none;
  border-radius: 16px;
  background-color: #018E8E;
  color: white;
  box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5);
}

.back_to_menu_button {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 370%;
  right: 29%;
  font-size: 2vw;
  border: none;
  border-radius: 16px;
  background-color: white;
  color:#018E8E;
  box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5);
}

.menu_button_text{
  position: absolute;
  top: -21%;
  right: 19%;
  text-align: center;
  font-size: 4vw;
  text-shadow: 1px 1px 0 white; 
  color: black;
}

.menu_button {
  width: 30%;
  height: 14%;
  position: absolute;
  top: 5%;
  right: 69%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/Menu_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}


.matches_counter_small {
  width: 30%;
  height: 17%;
  position: absolute;
  top: 22%;
  right: 69%;
  text-align: center;
  font-size: 3vw;
  border: none;
  padding: 1% 0% 0% 0%;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/New_Matches_Holder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.expand_button {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 56%;
  right: -11%;
  border: none;
  color: #018E8E;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/Expand_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.matches_counter_expanded {
  width: 39%;
  height: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 59%;
  font-size: 3vw;
  border: none;
  padding: 5% 0% 0% 0%;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/New_Matches_Holder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.matches_made_holder {
  width: 72%;
  height: 40%;
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}

.minimize_button {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 60%;
  right: -6%;
  border: none;
  color: #018E8E;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/Minimize_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.help_message {
  width: 64%;
  height: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 52%;
  right: 46%;
  text-align: center;
  font-size: 3vw;
  border: none;
  padding: 5% 0% 0% 0%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../public/assets/Instructions_Background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.winning_text {
  position: absolute;
  top: 180%;
  text-align: center;
}

.help_text{
  width: 50%;
  position: absolute;
  top: 10%;
}

.match_locker {
    width: 60%;
    height: calc(.57 * 100vw);
    opacity: 0;
    left: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    column-gap: 3%;
    row-gap: 10%;
    margin: 0;
    padding: 3% 7% 7% 7%;
    z-index: 4;
  }

  .close_button_gamepage {
    width: 15%;
    height: 15%;
    position: relative;
    top: 70%;
    right: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../public/assets/X_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }