* {
    box-sizing: border-box;
    font-family: "Itim", sans-serif;
  }
  
.music_button_true {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 52vw;
    right:93vw;
    color: #018E8E;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../../public/assets/Music_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 4;
  }

  .music_button_false {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 52vw;
    right:93vw;
    color: #018E8E;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../../public/assets/No_Music_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 4;
  }
